<section id="dashboard">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>

    <div class="top">
        <div class="content">
            <p>Tax Calculator</p>
            <p>Figure out your pay <br>afer tax</p>
        </div>
        <div class="buttons">
            <button><span class="icons"><img src="../../../assets/images/menu.svg" alt=""></span> <span
                    class="btn1">1000</span></button>
            <button>Salary</button>
            <button>NSSF rates</button>
            <button>Calculate</button>



        </div>
    </div>

    <div class="deduction">
        <!-- slip -->
        <div class="slip">
            <h4>Deductions</h4>
            <div class="period">
                <p>year</p>
                <p>Month</p>
                <p>Week</p>
                <p>Daily</p>
            </div>
            <input type="number" placeholder="Input your gross-salary">
            <hr>

            <!-- salary -->
            <div class="salary">
                <div class="main-deductions">
                    <div class="amountDetails">
                        <p class="salo">Salary</p>
                        <p>Nssf Contribution</p>
                        <p>Insuarance Releif</p>
                        <p>PAYE</p>
                    </div>
                    <div class="amount">
                        <p class="salo">ksh 1000000</p>
                        <p>ksh 500000</p>
                        <p>ksh 800000</p>
                        <p>ksh 900000</p>

                    </div>

                </div>

                <div class="totals">

                    <div class="total_tax">
                        <p>Total Tax</p>
                        <p>Net Salary</p>

                    </div>

                    <div class="tax_amount">
                        <p>Ksh -200000</p>
                        <p>Ksh 500000</p>

                    </div>

                </div>


                <div class="marginal">
                    <div class="top_one">
                        <p>Marginal Tax Rate</p>
                        <p>Average Tax</p>
                    </div>
                    <div class="bottom_one">
                        <p>Ksh -200000</p>
                        <p>Ksh 500000</p>

                    </div>
                </div>

            </div>
        </div>
        <div class="graph">
            <img src="../../../assets/images/graph.png" alt="">
            <div class="button_graph">
                <p>
                    <span class="icons"><img src="../../../assets/images/download.svg" alt=""></span>
                    <span class="btn1">Download</span>
                </p>
                <p>
                    <span class="btn1" ><a routerLink="/bill-manager">Manage Bills</a></span>
                     

                    <span class="icons"><img src="../../../assets/images/arrow.svg" alt=""></span>
                </p>
            </div>

        </div>


    </div>
    <br>
    <br>
    <br>
    <footer>
         <p>&copy;Powered by Natujenge</p>

    </footer>
</section>