#dashboard{
    height: 100vh;

    .navbar{
        margin-bottom: 10px;
    }

    .top{
        background: linear-gradient(135deg, #92FFC0 0%, #002661 100%);
        height: 21%;
        
    
    }
    .content,.buttons{
        margin-left: 190px;
        display:  flex;

    }

    .content p:first-child{
        font-weight: 600;
        margin-top: 25px;
        font-size: 28px;
    }
    .content p:last-child{
        margin-top: 25px;
        font-weight: 600;
        margin-left: 100px;
        
    }
    .buttons{
        margin-top: 30px;
        display: flex;
        gap: 70px;
        margin-bottom: 30px;
     
    button {
        background: #022218;
        // margin-right: 70px;
        color: white;
        border-radius: 25px;
        width: 90px;
        height: 2rem;
        border: none;


    }
    
     button:last-child{
        background: #92FFC0;
        color: #022218;
    }

       
}

    
    .deduction{
        height: 53%;
        margin: 30px 150px;
        display: flex;
    }
    .slip{
        width: 50%;
        height: 100%;

        h4{
            color:#1CB484;
            font-size: 23px;
            font-weight: 600;
            margin-bottom: 10px;

        }
    }
    .graph{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            height: 60%;
        }
    }
    .period{
        display: flex;
        gap: 30px;
        
    
    
    p{
        // margin-right: 25px;
        border: 1px solid #1CB484;
        padding: 5px 10px ;
        border-radius: 25px;
        color: #1CB484;

    }
   
}
hr{
    // background: #1CB484;
    background-color:#1CB484;
    height: 1px;
    width:  90%;
    margin-top: 10px;
    border: none;
}

.main-deductions,  .totals,.marginal{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: #022218;
    font-size: 14px;
}

.salo, .totals{
    color:#1CB484;
    font-weight: 600;
}
.button_graph{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    color: white;
    font-size: 15px;

    p:first-child{
        background-color: #022218;
        padding: 5px 10px;
    }
    p:last-child{
        background-color: #1CB484;
        padding: 5px 10px;

    }
}

footer{
    border-top: 1px solid  #1CB484;
    display: flex;
    justify-content: center;
    align-items: center;


}
.btn1{
    position: relative;
    top: -4px;
}
.icons{
    img{
        height: 20px;

    }
}


}


