nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0  30px 0;
    ul{
        display: flex;
    }

    li{
        list-style-type: none;
        margin-right: 15px;
        margin-top: 25px;
    }
    a{
        text-decoration: none;
        color: #022218;

    }


    .menu{
        margin-left: 80px;
    }
    .navbar_buttons{
        margin-right: 100px;
    }
    .logos{
        display: flex;
        margin-left: 100px;
    }
    .logo1, .logo{
        height: 70px;
        width: 121.4px;
        object-fit: contain;

    }

    .logo{
        position: relative;
        right: 6%
    }
    .signup{
        a{
            padding: 7px;
            background: rgba(2, 34, 24, 0.4);
            border: 1px solid #022218;
            border-radius: 5px;
        }

    }
    .signin {
        a{
            padding: 7px;
            background: #1CB484;
            border-radius: 5px;
            color: #FFFF;

        }
    }

  }
