<div class="navbar">
    <nav>
        <!-- nav menu floating on the left -->
                <div class="logos">
                    <img src="../../../assets/images/Vector.png" alt="" class="logo1">
                    <img src="../../../assets/images/Natujenge.png" alt="" class="logo">
                <ul class="menu">
                <li> <a routerLink="/" >Home</a></li>
                <li> <a routerLink="/dashboard">dashboard</a></li>
                <li> <a href="Home">Team</a></li>
                <li> <a href="Home">Bootcamp</a></li>
            </ul>
        </div>

        <!-- nav buttons floating to the right -->
            <ul class="navbar_buttons">
                <li  class="signup"><a href="signip">SignUp</a></li>
                <li class="signin"><a href="signin">SignIn</a></li>
            </ul>
    </nav>


</div>



