
<main id="home">
        <!-- navabar -->
        <app-navbar></app-navbar>

        <!-- navbar ends -->

        <!-- hero section starts here -->
        <section id="hero">
                <div class="content">
                        <p>COMPUTE YOUR TAX <br>AND MANAGE YOUR <br> BILLS</p>
                        <p>Save your Money from <br>your Own Money!</p>
                        <p><a href="">Get started</a></p>
                </div>
                <div class="hero_image">
                        <img src="../../../assets/images/hero.svg" alt="">
                </div>
        </section>
</main>


