<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up page</title>
</head>
<body>
    <div class="sign-up" style="background-image: url('../assets/img/image1.png');background-repeat: no-repeat;background-size: cover;background-position: center;">
        <div class="words">
            <div class="welcome">
                <div class="oyf">
                    <div class="top">
                        <h1>Natujenge <br>OYF Bootcamp</h1>
                    </div>
                </div>
                <h2>We are</h2>
                <hr style="width:20%;text-align:left;margin-left:0" color="032017">
                <h2>Inviting Only Right Now</h2><br>
                <p>We invite you to join the rest of the world who are using our tax calculation and bill management services.We guarantee quality and customised services just for you</p>
                <br>
                <br>
                <p>Already have an account?</p>
                <a href="http://">sign-in</a>
            </div>
        </div>
    </div>
    <div class="container">
        <form>
            <fieldset>
                <h1>Sign up</h1>
                <label for="name">Please Enter your username</label><br>
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <br>
                <label for="email">Please Enter your email</label><br>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <br>
                <label for="password">Set your password</label><br>
                <input type="password" name="password" id="password" placeholder="set your password">
                <br>
                <input class="checkbox" type="checkbox" name="show password" id="show password">
                <label for="show password">Show password</label>
                <input type="submit" value="sign up">
            </fieldset>
        </form>
    </div>
</body>
</html>
